:root {
  --bg-color: rgb(27, 27, 27);
  --text-color: rgb(172, 172, 172);
  --highlight-color: #33b790;
  --light: #f3f3f3;
  --dark: rgb(42, 42, 42);
}

html,
body,
#root {
  width: 100% !important;
  height: 100% !important;
  width: 100vw !important;
  height: 100vh !important;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.title-page {
  color: var(--highlight-color);
}

/* AUTH */
.auth {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.auth h2 {
  color: var(--highlight-color);
}
.auth a {
  cursor: pointer;
}

/* APP COMPONENT */
.app {
  min-height: 100% !important;
  min-height: 100vh !important;
  overflow-x: hidden;
  padding: 50px 0px;
}

/* HEADER COMPONENT */
.header .navbar {
  background-color: var(--dark);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.header a {
  text-decoration: none;
  color: var(--text-color);
}
.header a:hover {
  color: var(--highlight-color);
}
.header #logo {
  height: 25px;
  border-radius: 5px;
}

/* HOME COMPONENT */
.home {
  height: 100%;
  min-height: 800px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home h2 {
  color: var(--highlight-color);
}
.home img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 600px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.7);
}

/* GALLERY COMPONENT */
.gallery {
  padding: 3rem;
}
.gallery .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

/* ITEM COMPONENT */
.item {
  width: 300px;
  padding: 1rem;
}
.item p,
.item h2 {
  text-align: center;
  color: var(--light);
}
.item .card {
  box-shadow: 5px 5px 15px black;
}

/* MINTER COMPONENT */
.minter {
  padding: 3rem;
}
.minter .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.minter .btn {
  border: solid 1px var(--highlight-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}
.minter .form-control:focus {
  border-color: var(--highlight-color);
}

/* FOOTER COMPONENT */
.footer {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: var(--dark);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

/* LOADER */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--light);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loader div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
